/* reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address,
big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i,
center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent;}
input, textarea {margin: 0; padding: 0;}
body {line-height: 1;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none;}
:focus {outline: 0;}
ins {text-decoration: none;}
del {text-decoration: line-through;}
table {border-collapse: collapse; border-spacing: 0;}

html{color:#000;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
abbr,acronym{font-variant:normal;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}
input,textarea,select{*font-size:100%;}
legend{color:#000;}

/* \*/ html, body{height:100%;} /* */

/* initialize */
body {font-family: "Arial"; font-size: small;}
textarea {width: 640px; height: 70px;}
a, .textLink {text-decoration: none; color: #37456c;}
a:hover, .textLink:hover {text-decoration: underline; color: #7987ae;}
h1, h2, h3, h4 {margin-bottom: 3px;}
h1, h2 {margin-left: -1px;}
h1 {font-family: "Arial Black"; font-size: 27px; color: #624940;}
h1.midpageh1 {margin-top: 10px;}
h2 {font-size: large; font-weight: bold; margin-top: 10px; color: #37456c;}
h3 {font-weight: bold; color: #687d1c;}
h4 {font-weight: bold; color: #37456c;}
p {margin-bottom: 10px; line-height: 1.75;}
li {line-height: 1.5; margin-left: 15px;}

/* framework-functionality specific */
.textLink {/*FF-fix*/ width: 15px;}
* html .textLink {width: auto;}
.errormessage {color: #FF0000; font-weight: bold;}
.logoutformjs, .logoutformjs #logoutbutton {visibility: "hidden"; position: "absolute"; top: 0px; left: 0px; width: 0px; height: 0px; border: 0px;}
#loginform, #accountbox {float: right; margin-left: 20px; width: 345px; height: auto; background: #edf2ed; text-align: right; clear: right;}
#accountbox {padding-top: 10px; padding-bottom: 10px; text-align: left;}
#loginform fieldset {margin: 20px;}
#loginform label {margin-right: 10px; font-weight: bold;}
#loginform label:after {content: ':';}
#loginemail, #loginpass {width: 250px; margin-top: 7px;}
#loginform .submit {font-weight: bold; margin-top: 7px;}
#loginform #forgotpass {float: left; padding-left: 76px; line-height: 2; margin-top: 4px;}
.dateselect label {display: none;}
.dateselect select {margin-right: 5px;}
.narrowinput {width: 50px;}
.mediuminput {width: 300px;}
.wideinput {width: 640px;}
.fulltextarea {width: 970px; height: 500px;}
.bigtextarea {height: 250px;}
.htmlpreviewlabel {margin-top: 5px;}
.htmlpreview {border: 1px outset #a4bcc6; padding-top: 5px; padding-bottom: 5px; padding-left: 1px; margin-top: 5px; margin-bottom: 5px;}

/* layout */
body {background: #fff;}
input, select {border: 1px solid #a4bcc6;}
code {color: #df470c; font-weight: bold; letter-spacing: 1px;}
.submit {background: #dfe7eb;}

/* page specific */